/*

@media (min-width: 556px) {
    main{
        display: flex;
        flex-direction: column;
        width: 768px;
        height: 100vh;
        background-color: white;
        
    }
  }


  @media (min-width: 900px) {
    main{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 100vh;
        background-color: white;
        
    }
    .landing{
        display: flex;
        flex-direction: row;
        padding-top: 80px;
        height: 80vh;
    }
    .landingpage{
        width: 50%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80vh;
    }
    .landingpageimg{
        width: 50%;
        padding: 20px;
        background-image: url(/imagens/landingpage.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 80vh;
    }
    .landingpage  h1{
        font-size: 40px;
        margin: 10px;
        font-weight: bolder;
     }
     .landingpagebutton{
        width: 250px;
        padding: 20px;
        margin: 10px;
        border: none;
        border-radius: 5px;
        background-color: #608E2B;
        transition: 0.5s;
    }
    .sobre{
        
        display: flex;
        flex-direction: row;
        margin-top: 200px;
    }
    .sobreLanding{
        width: 50%;
        padding: 20px;
        height: 80vh;
    }
    
    .sobreLanding  h1{
        margin-top: 50px;
        font-size: 30px;
        font-weight: bolder;
     }
     .sobreLanding  p{
        margin-top: 20px;
        font-size: 16px;
     }
    
  }
  
  */
