body{
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    background-color: #f9f9f9;
}
main{
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 100vh;
    background-color: white;
    
}
header{
    display: block;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 13px 10px -6px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 13px 10px -6px rgba(0,0,0,0.25);
    box-shadow: 0px 13px 10px -6px rgba(0,0,0,0.25);
}
.logo img{
    width: 60px;
} 
.landing{
    display: block;
    padding-top: 60px;
}
.landingpage{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45vh;
}
.landingpage  h1{
   font-size: 32px;
   margin: 10px;
   font-weight: bolder;
}
.landingpagebutton{
    width: 150px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #608E2B;
    transition: 0.5s;
}
.landingpageimg{
    padding: 20px;
    height: 30vh;
    background-image: url(/imagens/landingpage.png);
    background-size: cover;
    background-repeat: no-repeat;
}
    .landingpagebutton a{
    text-decoration: none;
    color: white;
}
.span{
    color: #608E2B;
}
.span:hover{
    color: #4C6C3A;
}
.landingpagebutton:hover{
    background-color: #4C6C3A;
    transform: scale(1.05);
}

.sobreLanding{
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sobreLanding  h1{
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: bolder;
    text-align: center;
 }
