

body{
    font-family: 'Inter', sans-serif;
}
/*header*/
header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    background-color: ;
}
header ul{
    list-style: none;
}
header ul li{
    display: inline-block;
    margin: 0 10px;
}
header ul li a {
  color: #ffffffff;
  text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    color: white;
}
.banner{
    height: 85vh;
    background-image: url(imagens/img2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto-principal{
 
}
h2{
    font-size: 4em;
    color: white;
    opacity: 100%;
}
.contato{
}
/*header*/
/*main*/
.sobre{
    height: 100vh;
    background-color: white;
}
/*cabecalho*/
.cabecalho{
    text-align: center;
    padding: 50px;
}
.sobrenos{
    color: #89C798;
    margin: 30px;
    margin-bottom: 10px;
}
.sobrenos:hover{
    color: #bef5cc;
}
.sobrenostext{
    margin-top: 25px;
    margin-bottom: 25px;
}
.cabecalho h2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-bottom: 20px;
}
.conteudocabecalho{
    width: 70%;
    margin-left:auto;
    margin-right: auto;
    color: rgb(88, 88, 88);
}
/*cabecalho*/
/*metricas*/
.metricas{
    padding: 40px;
}
.metricas li{
    background-color: black;
    width: 24.7%;
    height: px;
    display: inline-block;
    
}
/*metricas*/
/*main/